# This file will be called by direnv.
# See https://direnv.net/

if [ ! -d .direnv ]
then
	echo "envrc: Creating .direnv"
	mkdir .direnv
fi

if [ -f .env ]
then
	dotenv
elif [ -f .env.example ]
then
	echo "envrc: '.env.example' exists, but '.env' does not."
	echo "envrc: Consider doing 'cp .env.example .env'."
fi

if nix flake info 2>/dev/null
then
	watch_file flake.nix
	watch_file flake.lock
	echo "envrc: Using Nix!"
	eval "$(nix print-dev-env --profile $(direnv_layout_dir)/flake-profile)"
fi

jenv shell $(jenv version-file-read $(jenv version-file))
