# This file will be called by direnv.
# See https://direnv.net/

if [ -f .env ]
then
	dotenv
elif [ -f .env.example ]
then
	echo "envrc: '.env.example' exists, but '.env' does not."
	echo "envrc: Consider doing 'cp .env.example .env'."
fi

if which nix-shell > /dev/null
then
	echo "envrc: Using Nix!"
	use_nix
fi
